<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameJamUtopiales.Engine.Factory" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GameJamUtopiales.FactorySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameJamUtopiales.Engine.Factory>
            <setting name="TestParam" serializeAs="String">
                <value>settings accessibles</value>
            </setting>
            <setting name="CharacterList" serializeAs="String">
                <value>mami,sayaka</value>
            </setting>
        </GameJamUtopiales.Engine.Factory>
        <GameJamUtopiales.FactorySettings>
            <setting name="TestParam" serializeAs="String">
                <value>settings accessibles</value>
            </setting>
        </GameJamUtopiales.FactorySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
